.blob-result{ data: { qa_selector: 'result_item_content' } }
  .file-holder
    .js-file-title.file-title{ data: { qa_selector: 'file_title_content' } }
      = link_to blob_link, data: {track_event: 'click_text', track_label: 'blob_path', track_property: 'search_result'} do
        = sprite_icon('document')
        %strong
          = search_blob_title(project, path)
      = copy_file_path_button(path)
    - if blob.data
      - if blob.data.size > 0
        .file-content.code.term{ data: { qa_selector: 'file_text_content' } }
          = render 'shared/file_highlight', blob: blob, first_line_number: blob.startline, blob_link: blob_link, highlight_line: blob.highlight_line
      - else
        .file-content.code
          .nothing-here-block
            .gl-text-gray-600.gl-font-sm
              - max_file_size_indexed = Gitlab::CurrentSettings.elasticsearch_indexed_file_size_limit_kb.kilobytes
              = _('The file could not be displayed because it is empty or larger than the maximum file size indexed (%{size}).') % { size: number_to_human_size(max_file_size_indexed) }
